.nav{
    height:100vh;
    width:10rem;
    position: fixed;
    left:0;
    background-color: black;
    color:white;
}

.nav_title{
    width:100%;
    height:20vh;
    line-height: 20vh;
    text-align: center;
}

.nav_title_text{
    margin:0.5rem 0;
    text-align: center;
    cursor: pointer;
    &:hover{
        color:gray;
        text-decoration:underline ;
        text-decoration-color: white;
    }
}

.nav_author_info{
    text-align: center;
    img{
        width:5rem;
        height:5rem;
        border-radius: 5px;
    }
}